/.bundle/
/.yardoc
/.idea/
/.vscode/
/_yardoc/
/coverage/
/doc/
/Gemfile.lock
/pkg/
/spec/reports/
/spec/examples.txt
/tmp/

# rspec failure tracking
.rspec_status

.lefthook-local/
lefthook-local.yml

/dip-*.gem
